@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Customer c = Model.FeaturedCustomer;
}

<div class="jumbotron">
    <h1>Database DevOps with Containers</h1>
    <h2>by <a href="https://robrich.org/">Rob Richardson</a></h2>
    <h3><a href="https://twitter.com/rob_rich">@@rob_rich</a></h3>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Featured Customer</h2>
        <div class="thumbnail">
            <img class="media-object" src="@c.ProfileLargeUrl" alt="@c.Title @c.FirstName @c.LastName" />
            <div class="caption">
                <h3>@c.Title @c.FirstName @c.LastName</h3>
                <p><a href="mailto:@c.Email">@c.Email</a></p>
                <p>Fake user data from <a href="https://randomuser.me/">https://randomuser.me/</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Featured Invoice Log</h2>
        <p>Id: <b>@Model.FeaturedInvoiceLog.InvoiceLogId</b></p>
        <p>Date: <b>@Model.FeaturedInvoiceLog.CreateDate.ToString("g")</b></p>
    </div>
    <div class="col-md-4">
        <h2>Settings</h2>
        @foreach (Setting setting in Model.Settings) {
            <p>@setting.Name: <b>@setting.Secret</b></p>
        }
    </div>
</div>
