@model CustomerViewModel

@{
    ViewBag.Title = "Customers";
}

@section Head {
    <style>
        .panel-body {
            max-height: 224px;
            overflow-y: auto;
        }
    </style>

}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="alert alert-success">Fake user data courtesy of <a href="https://randomuser.me/">https://randomuser.me/</a></div>
</div>
<div class="row">
    <div class="pull-right"><a asp-route-id="@(Model.Page+1)">Next <span class="glyphicon glyphicon glyphicon-chevron-right"></span></a></div>
    <div class="pull-left"><a asp-route-id="@(Model.Page-1)"><span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous</a></div>
</div>
<div class="row">&nbsp;</div>

<div class="row">
    @foreach (Customer c in Model.Customers)
    {
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="@c.ProfileMediumUrl" alt="@c.Title @c.FirstName @c.LastName" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@c.Title @c.FirstName @c.LastName</h4>
                            <p><b>@c.Username</b></p>
                            <p>
                                <a href="mailto:@c.Email">@c.Email</a>
                                @if (c.Phone != null)
                                {
                                    <br />
                                    <a href="tel://@c.Phone">@c.Phone</a>
                                }
                                @if (c.Cell != null)
                                {
                                    <br />
                                    <a href="tel://@c.Cell">@c.Cell</a>
                                }
                            </p>
                            <p>
                                @c.Address1<br />
                                @c.City, @c.State @c.Zip<br />
                                @c.Country
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
